* {box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .logo {
        display: inline-block; 
        margin-right: 10px; 
    }
    
    .logo img {
        max-width: 110px; 
        height: auto;
    }

#wrapper {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

#wrapper ul {
    list-style-type: none;
}

body {
    background-color: #122D62;

   
    background-size: cover;
    background-position: center center;
    color: #89c4f0;
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    
}



header{
    background-color: #229DF9;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1340px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    flex: 1; 
}

header a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
}



nav {
    
    text-align: left;
    font-size: 25px;
    
}

nav ul {
    background-color: #215098;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    position: relative;

}

nav ul li a {
    display: block;
    padding: 20px 25px;
    color: #d6dbe4;
    text-decoration: none;
}

nav ul li ul .dropdown li {
    display: block;
}

nav ul li ul.dropdown {
    width: auto;
    position: absolute;
    display: none;
    z-index: 999;
    font-size: 15px;
    overflow: hidden;

}

nav ul li a:hover {
    background-color: #229DF9;    
}

nav ul li:hover ul.dropdown {
    display: block;
}

#search {
    padding: 15px;
    width: 200px;
   
    border: none;
    border-radius: 5px;
    margin-right: 10px;

}

#search-button {
    padding: 10px 20px;
    background-color: #229DF9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #1866b7;
}

.login-signup {
    margin-top: 10px;
}

.login-signup a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.login-signup .divider {
    color: #fff;
    margin: 0 10px;
}

main {
   margin-left: 50px; 
}

main p{
    color:#d6dbe4
}

#fighters {
    text-align: left;
    margin-top: 95px;
}

#fighters h3 {
   background-color: #85b3d6;
   padding: 10px 20px;
   border-radius: 10px;
   display: inline-block;
   text-decoration: none;
   margin: 0 auto;
   color: #122D62;
}

.fighters-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.fighters-games-list li {
    margin: 10px;
    text-align: center;
}

.fighters-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;
}

.fighters-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#hackslash {
    text-align: left;
    margin-top: 95px;
}

#hackslash h3 {
   background-color: #85b3d6;
   padding: 10px 20px;
   border-radius: 10px;
   display: inline-block;
   text-decoration: none;
   margin: 0 auto;
   color: #122D62;
}

.hackslash-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.hackslash-games-list li{
    margin: 10px;
    text-align: center;
}

.hackslash-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.hackslash-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#FPSgames {
    text-align: left;
    margin-top: 95px;
}

#FPSgames h3 {
   background-color: #85b3d6;
   padding: 10px 20px;
   border-radius: 10px;
   display: inline-block;
   text-decoration: none;
   margin: 0 auto;
   color: #122D62;
}

.fps-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.fps-games-list li{
    margin: 10px;
    text-align: center;
}

.fps-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.fps-games-list a {
    text-decoration: none;
    color: #229DF9;
}




#Platformers {
    text-align: left;
    margin-top: 95px;
}

#Platformers h3 {
   background-color: #85b3d6;
   padding: 10px 20px;
   border-radius: 10px;
   display: inline-block;
   text-decoration: none;
   margin: 0 auto;
   color: #122D62;
}

.plat-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.plat-games-list li{
    margin: 10px;
    text-align: center;
}

.plat-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.plat-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#actionadv {
    text-align: left;
    margin-top: 95px;
}

#actionadv h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.actionadv-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.actionadv-games-list li {
    margin: 10px;
    text-align: center;
}

.actionadv-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.actionadv-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#metroid {
    text-align: left;
    margin-top: 95px;
}

#metroid h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.metroid-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.metroid-games-list li {
    margin: 10px;
    text-align: center;
}

.metroid-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.metroid-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#puzzle {
    text-align: left;
    margin-top: 95px;
}

#puzzle h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.puzzle-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.puzzle-games-list li {
    margin: 10px;
    text-align: center;
}

.puzzle-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.puzzle-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#visnovel {
    text-align: left;
    margin-top: 95px;
}

#visnovel h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.visnovel-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.visnovel-games-list li {
    margin: 10px;
    text-align: center;
}

.visnovel-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.visnovel-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#survival {
    text-align: left;
    margin-top: 95px;
}

#survival h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.survival-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.survival-games-list li {
    margin: 10px;
    text-align: center;
}

.survival-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.survival-games-list a {
    text-decoration: none;
    color: #229DF9;
}




#horror {
    text-align: left;
    margin-top: 95px;
}

#horror h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.horror-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.horror-games-list li {
    margin: 10px;
    text-align: center;
}

.horror-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.horror-games-list a {
    text-decoration: none;
    color: #229DF9;
}



#actionRPG {
    text-align: left;
    margin-top: 95px;
}

#actionRPG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.actionRPG-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.actionRPG-games-list li {
    margin: 10px;
    text-align: center;
}

.actionRPG-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.actionRPG-games-list a {
    text-decoration: none;
    color: #229DF9;
}


#JRPG {
    text-align: left;
    margin-top: 95px;
}

#JRPG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.JRPG-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.JRPG-games-list li {
    margin: 10px;
    text-align: center;
}

.JRPG-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.JRPG-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#advRPG {
    text-align: left;
    margin-top: 95px;
}

#advRPG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.advRPG-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.advRPG-games-list li {
    margin: 10px;
    text-align: center;
}

.advRPG-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.advRPG-games-list a {
    text-decoration: none;
    color: #229DF9;
}




#strat {
    text-align: left;
    margin-top: 95px;
}

#strat h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.strat-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.strat-games-list li {
    margin: 10px;
    text-align: center;
}

.strat-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.strat-games-list a {
    text-decoration: none;
    color: #229DF9;
}


#lifesim {
    text-align: left;
    margin-top: 95px;
}

#lifesim h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.lifesim-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.lifesim-games-list li {
    margin: 10px;
    text-align: center;
}

.lifesim-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.lifesim-games-list a {
    text-decoration: none;
    color: #229DF9;
}




#vehiclesim {
    text-align: left;
    margin-top: 95px;
}

#vehiclesim h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.vehiclesim-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.vehiclesim-games-list li {
    margin: 10px;
    text-align: center;
}

.vehiclesim-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.vehiclesim-games-list a {
    text-decoration: none;
    color: #229DF9;
}


#RPGg {
    text-align: left;
    margin-top: 95px;
}

#RPGg h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.rpg-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.rpg-games-list li {
    margin: 10px;
    text-align: center;
}

.rpg-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.rpg-games-list a {
    text-decoration: none;
    color: #229DF9;
}



#adventureG {
    text-align: left;
    margin-top: 95px;
}

#adventureG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.adventureG-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.adventureG-games-list li {
    margin: 10px;
    text-align: center;
}

.adventureG-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.adventureG-games-list a {
    text-decoration: none;
    color: #229DF9;
}

#upG {
    text-align: left;
    margin-top: 95px;
}

#upG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

#upcoming {
    text-align: left;
    margin-top: 95px;
}

#upcoming h3{
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

#simG {
    text-align: left;
    margin-top: 95px;
}

#simG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}







#actionG {
    text-align: left;
    margin-top: 95px;
}

#actionG h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

#popular{
    text-align: left;
    margin-top: 95px;
}
#popular h3 {
    background-color: #85b3d6;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    color: #122D62;
}

.action-games-list {
    list-style: none;
    padding: 0;
    display: flex;
  
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.action-games-list li {
    margin: 10px;
    text-align: center;
}

.action-games-list img {
    max-width: 150px; 
    display: block;
    margin: 0 auto;  
}

.action-games-list a {
    text-decoration: none;
    color: #229DF9;
}










.game-list-container {
    max-height: 300px;
    overflow: auto;
}

.gamelogo {
    position: relative;
    display: inline-block;
}

.gamelogo .add-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #229DF9;
    border-radius: 50%; 
    padding: 5px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.2s; 
}

.gamelogo .add-button i {
    font-size: 1.5rem; 
    color: #8080ff; 
}

.game-logo:hover .add-button {
    opacity: 1;
}





.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
    justify-content: center;

}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
    justify-content: center;
}

.content .p {
    font-size: 2.18rem;
    font-weight: 600;
    color: #202020;
    justify-content: center;
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
    justify-content: center;
  }

.main-content {
   
    display: flex;
    justify-content: space-around;
}

.main-content .box {
    flex-basis: 30%;
    padding: 10px 20px;
    margin: 10px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a
}

.box .content:after{
    position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background: #f12020;
}

.center .right{
    margin-top: 20px;
}

.center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }

  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
}